@import "var.scss";

.addressArea{
    width: 100%;
    margin-bottom: 5px;
    .invoiceArea{
        // width: 100%;
        // border-bottom: 2px solid black;
        padding: 2px 0px 2px 10px;
        display: block;
        .row1, .row2, .row3, .row4{
            @extend .rowCommon;
        }
        .row2, .row4{
            border-bottom: 2px solid black;
        }
        .left{
            @extend .colCommon;
        }
        .right{
            @extend .colCommon;
        }
    }
    .addresses{
        width:100%;
        display: flex;
        section{
            padding: 2px 10px;
            width: calc(96%/2);
            display: inline-block;
            border-right: 1px solid black;
            border-bottom: 2px solid black;
            &:last-child{
                border-right: 0px solid black;
            }
            p{
                margin: 0px;
                padding: 2px;
            }
        }

    }
}

.rowCommon{
    display: inline-block;
    width: 100%;
    div{
        display: inline-block;
        width: calc((100%/2) - 5px);
        padding: 2px 1px;

    }
}

.colCommon{
    display: inline-block;
    width: 49%;
    div{
        display: inline-block;
        width: calc((100%) - 5px);
        padding: 2px 1px;
    }
}

.divCommon{
    display: inline-block;
    width: calc((100%/4) - 5px);
    padding: 2px 1px;
}
