@import "var.scss";

.heading{
    width: 100%;
    margin-bottom: 5px;
        .topHeading{
        @extend .common;
        h1{
            font-size: $fontSize3;
            text-align: center;
            margin: 0px;
            padding: 5px 0px;
        }
    }
    .bottomHeading,{
        @extend .common;
        h2{
            font-size: $fontSize2;
            text-align: center;
            margin: 0px;
            padding: 5px 0px;
        }
        p{
            text-align: center;
            margin: 0px;
            padding: 2px 0px;
        }
    }
}

.common{
    width: 100%;
    border-bottom: 2px solid black;
}
