@import "var.scss";

.tableCommom{
    tr{
        // background-color: #eee;
        border-collapse: collapse;
        border-bottom: 1px solid #000;
        border-left: 1px solid;
        border-right: 1px solid;
    }
    th{
        height: 20px;
        text-decoration: underline;
        border-top: 2px solid black;
        border-bottom: 1px solid black;
    }
    td{
        // background-color: #979799;
        height: 15px;
        // border: 2px solid #ddd;
        border-collapse: collapse;

    }
}

.mainContentArea{
    table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin-bottom: 5px;;
        thead{
            height: 30px;
            border-bottom: 1px solid #000;

            @extend .tableCommom;
        }
        tbody{
            @extend .tableCommom;
        }
        .rightAlign{
            text-align: right;
            padding-right: 8px;
        }
    }
    .amount{
        p{
            padding: 5px 10px;
            background-color: #ddd;
        }

        .underline_amount{
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
